<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  * {
  box-sizing: border-box;
}
main {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
  width: 100%; 
  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: 100px; 
  /*Define our columns */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  grid-gap: 1em;
}

article {
  border-radius: 10px;
  padding: 20px;
  color: #fff;
}

article:nth-child(odd) {
  background-color: #55BBE9;
}

article:nth-child(even) {
  background-color: #afbe29;
}
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px; 
  }

</style>
<main>
  <article>
    <h4>Earliest Salary Paid</h4>
    <p>{{this.min}}</p>
  </article>
  <article>
    <h4>Times Paid</h4>
    <p>{{this.set.length}}</p>
  </article>
  <article>
    <h4>Latest Salary Paid</h4>
    <p>{{this.max}} </p>
  </article>
</main>
<div class="content">
  <div class="col">

      <input type="file" style="display: inline-block;" (change)="onFileChange($event)" (click)='click()' placeholder="Upload file" accept=".xlsx">
  
      <table *ngIf="data">
        <tr>
          <th>Transaction Date</th>
          <th>Value date</th>
          <th>Description</th>
          <th>Withdrawls</th>
          <th>Deposits</th>
          <th>Balance</th>
          <th>Type</th>
        </tr>
        <tr *ngFor="let item of data">
          <td>{{item['Transacti on Date']}}</td>
          <td>{{item['Value Date']}}</td>
          <td>{{item['Description']}}</td>
          <td>{{item[' Withdrawls '] | currency:'INR':'₦'}}</td>
          <td>{{item[' Deposits '] | currency:'INR':'₦'}}</td>
          <td>{{item[' Balance '] | currency:'INR':'₦'}}</td>
          <td>{{item.Type}}</td>
        </tr>
      
      </table>
 


</div>

  </div>

