<div class="containers">
  <div class="forms-container">
    <div class="signin-signup">
      <!-- Default form login -->
      <form class="text-center border border-light p-5" action="#!">
        <p class="h4 mb-4">Request Loan</p>

        <div class="row">
          <div class="col-md-12">
            <input
             
              id="defaultLoginFormEmail"
              class="form-control mb-4"
              placeholder="BVN Verification Number"
            />
          </div>
         
     
     
          <div class="col-md-6">
  
            <input
             
              id="defaultLoginFormEmail"
              class="form-control mb-4"
              placeholder="FirstName"
            />
          </div>
          <div class="col-md-6">
            <input
              type="email"
              id="defaultLoginFormEmail"
              class="form-control mb-4"
              placeholder="LastName"
            />
          </div>
          <div class="col-md-6">
            <input
             
              id="defaultLoginFormEmail"
              class="form-control mb-4"
              placeholder="Phone Number"
            />
          </div>
          <div class="col-md-6">
            <input
              type="nuumber"
              id="defaultLoginFormEmail"
              class="form-control mb-4"
              placeholder="Customer Email"
            />
          </div>
          <div class="col-md-12">
            <input
              type="number"
              id="defaultLoginFormEmail"
              class="form-control mb-4"
              placeholder="Number of Dependent"
            />
          </div>
          <div class="col-md-12">
            <input
              type="number"
              id="defaultLoginFormEmail"
              class="form-control mb-4"
              placeholder="Referral Code"
            />
          </div>
          <div class="col-md-6">
            <input
              type="number"
              id="defaultLoginFormEmail"
              class="form-control mb-4"
              placeholder="Next of Kin"
            />
          </div>
          <div class="col-md-6">
            <input
              type="number"
              id="defaultLoginFormEmail"
              class="form-control mb-4"
              placeholder="Relationship"
            />
          </div>
          <!-- <div class="col-md-4">
            <input
              type="text"
              id="defaultLoginFormEmail"
              class="form-control mb-4"
              placeholder="DTI"
            />
          </div>
          <div class="col-md-8">
            <input
              type="email"
              id="defaultLoginFormEmail"
              class="form-control mb-4"
              placeholder="GuarantorOfficeEmail"
            />
          </div>
          <div class="col-md-6">
            <input
              type="email"
              id="defaultLoginFormEmail"
              class="form-control mb-4"
              placeholder="GuarantorPersonalEmail"
            />
          </div> -->
         
        </div>

        <input type="submit" value="Submit" class="btn solid" />
      </form>
      <!-- Default form login -->
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>Need Quick Loans?</h3>
        <p>
          We understand that opting for a loan is not an easy decision. It's a
          tricky balance between wanting to be debt-free while trying to sort
          out unexpected expenses. We get it, that’s why we’ve got you covered
          with our quick loans. Get up to N5million in less than 3hour.
        </p>
        <button class="btn transparent" id="sign-up-btn">More</button>
      </div>
      <img
        src="../../../assets/undraw_Credit_card_re_blml (2).svg"
        class="image"
        alt=""
      />
    </div>
 
  </div>
</div>
