


<input type="file" (change)="onFileChange($event)">

<div class="row m-4">
  <div class="col-4">
    <table mdbTable>
      <thead  class="black white-text">
        <tr>
       <th>
        Account Summary
       </th>
       <th>
        Amount
      </th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol>
          <th>
            TotalCredit
          </th>
          <th>
            {{TotalCredit | currency:'₦':'symbol'}}
          </th>
        </tr>
        <tr mdbTableCol>
          <th>
            TotalDebit
          </th>
          <th>
            {{TotalDebit | currency:'₦':'symbol'}}
          </th>
        </tr>
        <tr mdbTableCol>
          <th>
            TotalIncome
          </th>
          <th>
            {{TotalIncome | currency:'₦':'symbol'}}
          </th>
        </tr>
        <tr mdbTableCol>
          <th>
            TotalReturnCheque
          </th>
          <th>
            {{TotalReturnCheque | currency:'₦':'symbol'}}
          </th>
        </tr>
        <tr mdbTableCol>
          <th>
            TotalOtherIncome
          </th>
          <th>
            {{TotalOtherIncome | currency:'₦':'symbol'}}
          </th>
        </tr>
      </tbody>
    </table>
  </div>
<div class="col-8">

  <table mdbTable>
    <thead  class="black white-text">
      <tr>
     <th>
    Income Summary
     </th>
     <th>
     Date
    </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol>
        <th>
        Earliest Date Paid
        </th>
        <th>
          {{minDayPaid }}
        </th>
      </tr>
      <tr mdbTableCol>
        <th>
         Latest Date Paid
        </th>
        <th>
          {{maxDayPaid }}
        </th>
      </tr>
      <tr mdbTableCol>
        <th>
        Times Paid
        </th>
        <th>
          {{salaryCount }}
        </th>
      </tr>
      </tbody>
      </table>

</div>
</div>

